#section4 {
    background-image: url('../assets/Background_Intro.png');
    background-size: cover;
    background-position: center;
    padding: 50px 20px;
    text-align: center;
    color: white;
  }
  
  .contact-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #292c34;
    padding: 15px;
    margin: 10px;
    border-radius: 8px;
    transition: transform 0.3s;
  }
  
  .contact-box:hover {
    transform: scale(1.05);
  }
  
  .contact-box img {
    width: 30px;
  }
