body { 
  margin: 0; 
  padding: 0; 
  box-sizing: border-box;
  overflow-x: hidden; 
}

#section1 {
  height: 100vh; 
  width: 100%; 
  background-image: url(assets/Background_Intro.png);
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
}

#box-section1 {
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 50px;

}


.icon {
  width: 150px; 
  height: 150px; 
  border-radius: 50%; 
  background-image: url(assets/WhatsApp\ Image\ 2025-01-23\ at\ 20.17.53.jpeg); 
  background-size: cover; 
  background-position: center;
  border: 2px solid brown; 
  padding: 5px; 
  background-clip: content-box;
  position: relative; 
  span{
      color: brown;
  }

}

.icon-image {
  position: absolute;
  top: 110px;  
  right: -5px;  
  width: 40px;  
  height: auto;
}

h1 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: azure;
  line-height: 2px;
  margin-top: 40px;
}

h2 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  font-size: 50px;
  line-height: 1px;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
  color: azure;
  font-size: 14px;
}

#boxes {
  padding-top: 30px;
  display: flex; 
  gap: 10px; 
}

.box {  
  background-color: #292C34;
  border-radius: 20px;
  padding: 0.5rem 1rem;

  display: flex; 
  justify-content: flex-start; 
  align-items: center; 
  padding-left: 10px; 
}

.box img {
  width: 30px;  
  height: auto; 
  margin-right: 10px; 
}

span {
  color: azure;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center; 
}

.seta {
  display: flex;
  justify-content: center;
  margin-top: 50px; 
  cursor: pointer; 
}

.seta img {
  width: 50px;  
  height: auto; 
}

