
:root {
  --bg-color: #ffffff;
  --text-color: #000000;
}

[data-theme="dark"] {
  --bg-color: #16181d;
  --text-color: #ffffff;
}


html, body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  height: 100%;
  margin: 0;
  padding: 0;
}

section {
  background-color: var(--bg-color);
  color: var(--text-color);
  padding: 20px;
}


button {
  padding: 10px;
  margin: 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

[data-theme="light"] button {
  background-color: #000;
  color: #fff;
}

[data-theme="dark"] button {
  background-color: #fff;
  color: #000;
}
