name: CD - Deploy GitHub Pages

on:
  push:
    branches:
      - main

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout código
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Instalar dependências
        run: npm install
        working-directory: ./Portifolio -Larissa Bulho/my-react-app

      - name: Build do projeto
        run: npm run build
        working-directory: ./Portifolio -Larissa Bulho/my-react-app

      - name: Setup Pages
        uses: actions/configure-pages@v5

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./Portifolio -Larissa Bulho/my-react-app/dist

      - name: Deploy
        uses: actions/deploy-pages@v4